// Header.vue
.app-header {
    padding: 1.5vh 0;
    margin: 0 auto;
    
    width: 30vw;

    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
    background: lighten(#ccc, 15%);

    .header-text {
        font-size: 110%;
    }
}

